.book__container {
    flex-wrap: wrap;
    justify-content: space-around;
}
.main__layout {
    display: flex;

}

.main__layout > * {
    flex: 1 1 auto;
    max-width: 20%;
    margin: 10px;
}

.container__progress{
    color: inherit;
}