.book__details {
    display: flex;
    margin:0px;
}

.information__sinopsis{
    margin-left: 0px;
}

.details__caratula{
    width: 200px;
    height: 250px;
}

.information__handling{
    margin-left: 0px;
}

.information__loaned{
    color:limegreen;
}


