.book-details {
    display: flex;
    margin:0px;
    background-color: #333;
    color: #f0e68c;
}

.information-sinopsis{
    margin-left: 0px;
}

.details-caratula{
    width: 200px;
    height: 250px;
}

.information-handling{
    margin-left: 0px;
}

.loaned-message{
    color:limegreen;
}
