.bookcard {
    border-radius: 8px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
    min-width: 250px;
}

.bookcard__text{
    width: 240px;
}

.bookcard__title {
    margin-right: 7px;
    height: 44px;
}

.bookcard__button{
    margin-right: 10px;
}