.book-container {
    flex-wrap: wrap;
    justify-content: space-around;
}
.main-layout {
    display: flex;

}

.main-layout > * {
    flex: 1 1 auto;
    max-width: 20%; /* Esto limitará el ancho de los elementos al 40% del contenedor */
    margin: 10px; /* Esto agregará un poco de espacio alrededor de los elementos */
}