.home__libros {
    display: flex;
    margin-top:0px;
}

.libros__informacion{
    margin-top:0px;
}

.libros__nuevos{
    margin-top:0px;
}

.informacion__detallada{
    margin-left: 0px;
    border-radius: 8px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.home__header{
    margin-bottom: 0px;
}