.loaned-bookcard {
    background-color: #333;
    border: 1px solid #444;
    border-radius: 8px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
    color: #f0e68c;
    display: flex;

}
.loaned-bookcard-caratula{

}

.bookcard-caratula{
    width: 200px;
    height: 250px;
}

.bookcard-text{
    width: 240px;
}

.bookcard-title {
    margin-right: 7px;
    height: 44px;
}

.loaned-bookcard-buttons{
    margin-left: 0px
}

.loaned-bookcard-buttons > * {
    margin-right: 10px;
}