/* Estilo general en modo oscuro */
body {
    background-color: #232323;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

#root{
    margin: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

/*To fill the screen*/
.main__div{
    min-height: 80vh;
}

.header-footer {

    padding: 10px;
    text-align: center;

}

.header-footer__text {
    color: #f0e68c;
}

.center-text {
    text-align: center;
}


.bookcard__caratula{
    width: 200px;
    height: 250px;
}
