/* Estilo general en modo oscuro */
body {
    font-family: 'Arial', sans-serif;
}

#root{
    margin: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

/*To fill the screen*/
.main__div{
    height: 100%;
}

.header-footer {

    padding: 10px;
    text-align: center;

}

.center-text {
    text-align: center;
}
