.boxes--light{
   background-color: #f30808;
   border: 1px solid #444;
}

.details--light{
    background-color: #f30808;
}

.mainText--light{
    color: #f30808;
}

.subText--light{
    color: #f30808;
}

.header--light{
    background-color:#f30808
}

.overview--light{
    background-color: #f30808
}

.background--light{
    background-color:#f30808;
}


