.boxes--light{
    background-color: #007bff;
    border: 1px solid #444;
}

.details--light{
    background-color: #044693;
}

.mainText--light{
    color: #fffffe;
}

.subText--light{
    color: black;
}

.header--light{
    background-color:#007bff
}

.overview--light{
    background-color: #f8f9fa
}

.background--light{
    background-color: white;
}

.notification--light{
    color:limegreen;
}

.error--light{
    color: #d31010;
    font-weight: bold;
}


