.boxes--light{
   background-color: red;
   border: 1px solid red;
}

.details--light{
    background-color: red;
}

.mainText--light{
    color: red;
}

.subText--light{
    color: red;
}

.header--light{
    background-color:red
}

.overview--light{
    background-color: red
}

.background--light{
    background-color: red;
}


