.boxes--dark{
    background-color: #91a0ea;
   border: 1px solid #444;
}

.details--dark{
    background-color: #91a0ea;
}

.mainText--dark{
    color:#fff ;
}

.subText--dark{
    color: #fff;
}

.header--dark{
    background-color:#232946
}

.overview--dark{
    background-color: #232946
}

.background--dark{
    background-color:#232946;
}

.notification--dark{
    color: #1d831d;
}

.error--dark{
    color: #ff0000;
    font-weight: bold;
}


